# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDE
.vscode/
.idea/

# Environment Variables
.env
.env.local

# Logs
*.log
